{{question-form saveQuestion="saveQuestion"}}

<h5>Click on a question to see answers or offer your own:</h5>
<ul class="list-group">
  {{#each model as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>
